#container{
    text-align: center;
    font-size: 20px;
}
.buttons{
    font-size: 0.8em;
    color:aliceblue;
    background-color: black;
    border-radius: 5px;
    cursor:pointer;
    padding:8px 10px;
    transition: background-color 0.5s;
}
#text3{
    cursor: pointer;
}
.buttons:hover{
    background-color: rgb(188, 181, 233);
}
