#labelcontainer1 {
    display: block;
    margin: 10px ;
    gap:8px;
    text-align: center;
}
#buttoncontainer{
    text-align:center;
    margin-top: 10px auto;
}
.buttons{
    padding:5px;
    border-radius: 7px;
    color:white;
    background-color: black;
    transition: background-color 0.3s;
    cursor:pointer;
    margin: 5px;
}
.labeltext{
    display:block;
    text-align: center;
    margin-top: 20px ;
}