#container{
    display: block;
    text-align: center;
    font-size: 2rem;
}
.buttons{
    color: white;
    background-color: rgb(123, 111, 236);
    border-radius: 3px;
    font-size: 0.8em;
    cursor: pointer;
}
input{
    font-size: 2rem;
}
#diceimg img{
    padding:10px;
    width:150px;
    height:100px;
}