#myCount{
    display:block;
    font-size:10em;
    text-align:center;
}

#buttonContainer{
    text-align:center;
    
}

.buttons{
   padding: 10px 20px;
   color:white;
   background-color: blue;
   border-radius: 5px;
   cursor: pointer;
   transition : background-color 0.25s;
}

.buttons:hover{
    background-color: rgb(25, 236, 240);
}